.table__price {
    border-collapse:collapse;
    width: 100%;
    height: auto;
}

.table__row {
    border-collapse:collapse;
}

.table__title-first {
    padding-left: 3px;
    border: 1px solid black;
    text-align: left;
}
.table__title-last {
    padding-left: 3px;
    border: 1px solid black;
    text-align: left;
}

.table__row-first {
    padding-left: 3px;
    border: 1px solid black;
    text-align: left;
}

.table__row-last {
    padding-left: 3px;
    border: 1px solid black;
    text-align: left;
}