.container__content {
    margin: 0 auto;
    max-width: 1320px;
    padding: 15px;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.list__content {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media only screen and (max-width: 1400px) {
    .container__content {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 1200px) {
    .container__content {
        max-width: 992px;
    }
}

@media only screen and (max-width: 1024px) {
    .container__content {
        max-width: 620px;
    }
}

@media only screen and (max-width: 768px) {

    .container__content {
        margin: 0 auto;
        max-width: 540px;
    }
}

@media only screen and (max-width: 576px) {

    .container__content {
        padding: 5px;
        max-width: 98%;
    }
}